// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$cerulean: #00aecc;
$alt-cerulean: darken($cerulean, 35%);
$concrete: #f2f2f2;
$mossgreen: #b7e0ad;
$putty: #e9d09c;
$emperor: #4f424b;
$orange: #ffab4a;
$white: #ffffff;
$coralred: #ff3b3b;
$black: #000000;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

/// Main brand color
$brand-primary: $cerulean !default;

// Fonts
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Font Sizes
$base-font-size: 1.4rem;
$large-font-size: 2.2rem;

// Font Colors
$text-color: $alt-cerulean !default;

// Spacing
$large-space: 2.8rem;
$space: 1.4rem;
$site-max-width: 100rem;

// Body
$body-bg-color: $concrete;
$body-default-color: $alt-cerulean;
$body-default-font-family: Helvetica, Arial, sans-serif;

// Header
$header-bg: $brand-primary;
$header-color: $white;
$header-link-color: $white;
$header-height: 6rem;

// Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});

// Form inputs
$input-border: $light-grey;
$input-spacing: 1rem;

// Button
$button-bg: $brand-primary;
$button-color: $white;
$button-pill-color: $brand-primary;

// Boxed View
$boxed-view-overlay-bg: $light-grey;
$boxed-view-bg: $white;
$boxed-view-border-color: $dark-grey;

// Item
$item-border-width: 4px;
$item-text-color: $dark-grey;
