// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $text-font-stack;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $body-bg-color;
  color: $body-default-color;
  font-size: $base-font-size;
  font-family: $body-default-font-family;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  color: $white;
  font-size: 3.1rem;
  font-family: 'Candal', sans-serif;
  text-transform: capitalize;
  font-weight: 200;
  // margin-bottom: $space / 2;
}

h3,
p {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
}

p {
  margin-bottom: $space;
}

strong {
  color: $emperor;
};

[type=text],
[type=email],
[type=password],
textarea {
  border: 1px solid $input-border;
  color: $body-default-color;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
  font-family: $body-default-font-family;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-primary;
  text-decoration: none;
}
