html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: $summer-green;
  color: $white;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

h3,
p {
  margin: 0;
  padding: 0;
}

input,
button,
select {
  font-size: 1.5rem;
}

a {
  color: $white;
  text-decoration: none;
}