.item {
  background: $white;
  border: 1px solid $black;
  padding: $space;
  margin-bottom: $space;
  cursor: pointer;
  border: $item-border-width solid transparent;
  transition: background-color 0.3s ease, border-left 0.3s ease;
}

.item:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $burning-orange;
}

.item__name {
  text-transform: capitalize;
}

.item__code {
  text-transform: uppercase;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.item__empty {
  border: 10px solid $burning-orange;
}

.item__form {
  background-color: $emperor;
}

.item--selected,
.item--selected:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $brand-primary;
}
