.boxed-view {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
  justify-content: center;
  width: 100%;
  // border: 1px solid $boxed-view-border-color;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  border: 1px solid $boxed-view-border-color;
  padding: 2.4rem;
  text-align: center;
  width: 30rem;
  margin: 0 auto;
}

.boxed-view__modal {
  background-color: $boxed-view-bg;
  border: 1px solid $boxed-view-border-color;
  padding: 2.4rem;
  width: 30rem;
  margin: 0 auto;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.boxed_view__not-found {
  color: $text-color;
}

.logo {
  text-align: center;
  margin: 0 auto;
  width: 30rem;
}

.logo img {
  width: 100%;
  max-width: 25rem;
}
