.boxed-view {
  align-items: flex-start;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  // border: 1px solid $boxed-view-border-color;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  border: 1px solid $boxed-view-border-color;
  padding: 2.4rem;
  text-align: center;
  width: 30rem;
  margin: 0 auto;
}

.boxed-view__modal {
  background-color: $boxed-view-bg;
  border: 1px solid $boxed-view-border-color;
  padding: 2.4rem;
  width: 30rem;
  margin: 0 auto;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.boxed_view__not-found {
  color: $text-color;
}
