.button {
  border: 0;
  background-color: $brand-primary;
  color: $white;
  cursor: pointer;
  line-height: 1.2;
  font-size: $base-font-size;
  outline: none;
  padding: $input-spacing;
  text-transform: uppercase;
  transition: background 0.3s ease, transform 0.3s ease;

  &:hover,
  &:focus {
    background: $orange;
    color: $text-color;
  }

  &:active {
    background: $orange;
    transform: scale(1.1);
  }
}

// button modifiers
.button--round {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin: 0 $space / 2;
}

.button--link {
  display: inline-block;
  text-decoration: none;
  color: $black;
  padding: $space;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.button--back {
  color: $white;
  background-color: $black;
  border: 0;
  padding: $input-spacing;
  font-weight: 200;
}

.button--close {
  display: inline-block;
  font-size: 3rem;
  float: right;
}

.button--start {
  font-size: 10rem;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.button--delete {
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  &:hover {
    background-color: $coralred;
    color: $white;
  }
}

.button--textarea {
  margin-bottom: 2.8rem;
}

.button--studentview {
  background-color: $white;
}

.button--edit {
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  &:hover {
    background-color: $mossgreen;
    color: $white;
  }
}

.editor__button--container {
  display: flex;
  justify-content: space-between;
}
