.editor {
  background-color: $white;
  border: 1px solid $light-grey;
  width: 100%;
  padding: $large-space;
}

.editor__container {
  border-bottom: 2px solid $light-grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: $large-space;
  padding-bottom: $input-spacing;
}

.editor__breadcrumbs {
  width: 100%;
}

.editor__title {
  display: flex;
  border: 0;
  flex-direction: column;
  font-size: $large-font-size;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  width: 50%;
}

.editor__title-label {
  font-size: $base-font-size;
}

.editor__title-input {
  font-size: $base-font-size;
  font-weight: bold;
  width: 100%;
}

.editor__title-section {
  color: $brand-primary;
  font-size: $large-font-size;
  font-weight: bold;
  margin-bottom: $space;
}


.editor__body {
  flex-grow: 1;
  font-weight: 300;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  resize: none;
  -webkit-overflow-scrolling: touch;
}

.editor__message {
  text-align: center;
  margin: $large-space * 2;
  font-style: italic;
}

.editor__students {
  background-color: $brand-primary;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: center;
  width: 50%;
}

.editor__students-count {
  font-size: 6rem;
  font-weight: bold;
  color: $concrete;
  padding: $large-space;
}
