.header {
  background: $brand-primary;
  color: $white;
  border-bottom: 10px solid $putty;
}

.header__content {
  display: flex;
  align-items: center;
  height: $header-height;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
  padding: $space;
}

.header__slogan {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
}

.header__logo {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
