.header {
  background: $brand-primary;
  border-bottom: 10px solid $orange;
  color: $white;
}

.header__logo-name-container {
    height: 6rem;
  }

.header__logo-name-container img {
    max-width:15%;
    width: 100%;
    height: auto;
    display: block;
    float: left;
  }

.header__logo-name-container h1 {
    display: block;
    float: left;
  }

.header__content {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__slogan {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
}

.header__logo {
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.header__nav-toggle {
  cursor: pointer;
  height: 2rem;
  width: 2rem;

  @include desktop() {
    display: none;
  }


}
