.watch {

}

.watch__heading {
    color: $brand-primary;
}

.watch--start-button-container {
  background-color: $brand-primary;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 10rem;
}
